@model CodeFirst.Models.Class.AdminDinamik

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dinamik 360 Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/giriş/giriş/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/giriş/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/giriş/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">

                @using (Html.BeginForm("Giris", "Login", FormMethod.Post))
                {
                    <span class="login100-form-title p-b-51">
                        Giriş
                    </span>
                    @ViewBag.Mesaj

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="KullanıcıAdınız" id="username" required="">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="password" placeholder="Password" id="password" required="">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                }

            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/giriş/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/giriş/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/giriş/vendor/bootstrap/js/popper.js"></script>
    <script src="~/giriş/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/giriş/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/giriş/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/giriş/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/giriş/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/giriş/js/main.js"></script>

</body>
</html>